.gallery{
    h2{
        text-align: center;
    }
}

.gallery,
.icons {
    ul{
        display: flex;
        justify-content: space-evenly;
    }
}
.gallery,
.icons{
    li{ 
       flex-basis: 32%;
       text-align: center;
    }
}

.brush,
.paint {
    display: flex;
    .imageContainer {
        width: 50%;
    }
    .textContainer {
       align-self: center;
        width: 50%;
    }
}

.brush {
    flex-direction: row-reverse;
}

.paint {
    flex-direction: row;
}
