html {
    font-size: 125%;
    color: #201E21;
}

h1,
h2,
h3,
h4,
button{
    font-family: 'East Sea Dokdo', cursive;
}

button {
    font-size: 1.45rem;
    text-align: center;
    line-height: 29px;
    color: white;
}
nav,
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 29px;
    letter-spacing: 0.2px;
}
nav {
    font-weight: medium;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1080px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

.buttonBlue {
    background-color: #0178A5;
}

.buttonRed {
    background-color: #a7059B;
}