header {
    height: 100vh;
    background: url(../Image/backgd1.jpg) right no-repeat;
    background-size: 55% 100%;
    padding: 50px 0;
    ul {
    display: flex;
    justify-content: left;
    }
    li {
    margin-right: 20px;
}
}

h1 {
    font-size: 6.1rem;
    text-align:right;
    line-height: 4.715rem;
    margin: 0;
    font-weight: normal;
    position: absolute;
    top: calc(50% - 50px);
}


nav {
    a {
    color: #000;
    font-weight: medium;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    letter-spacing: 0.2px;
    }
}

